[supervisord]
logfile_maxbytes=1MB
logfile_backups=2
nodaemon=true

[eventlistener:dependent-startup]
command=python3 -m supervisord_dependent_startup
autostart=true
autorestart=unexpected
startretries=0
exitcodes=0,3
events=PROCESS_STATE
buffer_size=1024

[eventlistener:supervisor-proc-exit-listener]
command=/usr/bin/supervisor-proc-exit-listener-rs --container-name database
events=PROCESS_STATE_EXITED,PROCESS_STATE_RUNNING
autostart=true
autorestart=unexpected
buffer_size=1024

[program:rsyslogd]
command=/usr/sbin/rsyslogd -n -iNONE
priority=1
autostart=false
autorestart=false
stdout_logfile=NONE
stdout_syslog=true
stderr_logfile=NONE
stderr_syslog=true
dependent_startup=true

{% if INSTANCES %}
{%     for valkey_inst, valkey_items in INSTANCES.items() %}
{%- if valkey_inst != 'remote_valkey' %}
[program:{{ valkey_inst }}]
{% if valkey_items['hostname'] != '127.0.0.1' %}
{%- set ADDITIONAL_OPTS = '--protected-mode no' %}
{%- if valkey_inst != 'valkey_chassis' %}
{%- set LOOPBACK_IP = '127.0.0.1' -%}
{%- endif -%}
{%- else -%}
{%- set LOOPBACK_IP = '' -%}
{%- set ADDITIONAL_OPTS = '' %}
{%- endif -%}
command=/bin/bash -c "{ [[ -s /var/lib/{{ valkey_inst }}/dump.rdb ]] || rm -f /var/lib/{{ valkey_inst }}/dump.rdb; } && mkdir -p /var/lib/{{ valkey_inst }} && exec /usr/bin/valkey-server /etc/valkey/valkey.conf --bind {{ LOOPBACK_IP }} {{ valkey_items['hostname'] }} --port {{ valkey_items['port'] }} --unixsocket {{ valkey_items['unix_socket_path'] }} --pidfile /var/run/valkey/{{ valkey_inst }}.pid --dir /var/lib/{{ valkey_inst }} {{ ADDITIONAL_OPTS }}"
priority=2
user=valkey
autostart=true
autorestart=false
stdout_logfile=NONE
stdout_syslog=true
stderr_logfile=NONE
stderr_syslog=true

{% endif %}
{%     endfor %}
{% endif %}

[program:flushdb]
command=/bin/bash -c "sleep 300 && /usr/local/bin/flush_unused_database"
priority=3
autostart=false
autorestart=false
stdout_logfile=NONE
stdout_syslog=true
stderr_logfile=NONE
stderr_syslog=true
dependent_startup=true
dependent_startup_wait_for=rsyslogd:running
